#chart .Title {
    font-size: 16px;
}

#chart .Border 
{
    fill: rgb(255,111,183);
}        

#chart .Attribute0Line {
    stroke: #fff;
    stroke-width: 2;
}

#chart .AxisY_Text
{
    fill: #02592F;
}

#chart .AxisY_Major
{
    stroke: #02592F;
}

#chart .AxisX_Line
{
    stroke-width: 0;
}

#chart .AxisX_Major
{
    stroke: #02592F;
}

#chart .AxisX_Text
{
    fill: transparent;
}

 #svg-wrapper {
     width: 500px;
     height: 160px;
     margin: 2em auto;
 }

svg path {
    fill: none !important;
    stroke: transparent !important;
    stroke-width: 1.5px;
}

svg .axis {
    font-size: 12px;
}

svg .axis path {
    display: none;
}

